.header{
  height: 200px;
  width: 100%;
  background-color: aquamarine;
  padding-top: 50px;
}
.form1{

  opacity: .85;
}
.button1{

  border-radius: 50%;
  margin-left: 500px;
}


  /* margin-left: 350px; */


.table1{

  height:auto ;
  width: 10px;
}

.button2{
      margin-bottom: 10px;
      margin-left: 1080px;
}
.Nav{
  font-size: medium;
  color: aquamarine;
  margin: 10px;
}